/* header */

#simplon{
    width:100px ;
    height: 100px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* index */ 
body{
    margin: 0;
}
.add {
    display: flex;
    vertical-align: right;
    width: 20%;
    margin-bottom: 10px;
    background-color: white;
    margin-top: 10%;
    justify-content: space-around;
}

.title{
    display: flex;
    justify-content: space-around;
}

.button {
    justify-content: space-around;
}

#button_add {
    display: flex;
    justify-content: flex-end;
}

.projet_container{
    background-color: RGB(175, 167, 167);
}
.tab_inter{
    background-color: RGB(175, 180, 180);
}

.projet{
    display: flex;
    justify-content:space-around;
    
}
table { 
    border-collapse: collapse;
    text-decoration: none;
}

td{
    border: solid 3px;
}

p > a{
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;
}
.content{
    display: flex;
    flex-direction: column;
}


select,textarea,input{
    margin:5%;
}

/* footer */
.footer {
    background-color: grey;
    clear: both;
    position: relative;
    height: 100px;
    margin-top: 10%;
}
.text-center{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}