.container{
    display: flex;
    justify-content: center;
    /* height: 60%; */
    height: 400px;
    border: solid 3px;
    justify-content: space-evenly;

}

form{
    display: contents;
    
}
.content{
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
